body {
  font-family: Arial, sans-serif;
  background-color: #eee9f7;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-image: url("img/fundo.png");
}
header {
  background: #B19CD9;
  color: white;
  padding: 10px 0;
  text-align: center;
}
nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
.navbar {
  display: none; /* Esconde a barra de navegação por padrão */
  background: #B19CD9;
  padding: 10px 0;
}

.navbar.active {
  display: block; /* Mostra a barra de navegação quando ativa */
}

.toggle-button {
  background: #8970bb;
  color: #dda0dd;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0%;
    background: #B19CD9;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}